<%= simple_form_for @empleado, :html => { :class => 'form-horizontal' } do |f| %>
  


  <div class="control-group">
    <%= f.label :nombre_completo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_completo, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-inverse' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                empleados_path, :class => 'btn' %>
  </div>
<% end %>
